# 配置文件

general {

    modules {
        B:module.bucket=true            # 模块：桶功能启用
        B:module.hunting=true           # 模块：狩猎功能启用
        B:module.ignition=true          # 模块：点火功能启用
        B:module.storage=true           # 模块：存储功能启用
        B:module.tech.basic=true        # 模块：基础科技启用
        B:module.tech.bloomery=true     # 模块：炼铁炉科技启用
        B:module.tech.machine=true      # 模块：机械科技启用
        B:module.tech.refractory=true   # 模块：耐火材料科技启用
        B:module.tool=true              # 模块：工具功能启用
        B:module.world_gen=true         # 模块：世界生成功能启用
        B:plugin.dropt=true             # 插件：Dropt（掉落控制插件）启用
        B:plugin.patchouli=true         # 插件：Patchouli（书籍插件）启用
    }

}